body{
    text-align: center;

}

h1{
    text-align: center ;
}

.title{
    font-style: italic;
    
}

.price{
    color: green;
}


.description{
    display: inline-block;
    font-style: italic;
    font-size: larger;
    width: 200px;  
    overflow-wrap: break-word;
}

.category{
    font-style: italic;
    font-size: large;
}

.image{
    width: 400px;
    height: 400px;
}

.rating{
    color: brown;
}

#clear{
    margin-top: 25px;
}